// Dropdown.module.scss

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.dropdownButton {
  padding: 10px;
  // background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: right; // Выравнивание текста по правому краю
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.021px;
  text-transform: capitalize;
  color: #fff;

  text-align: right;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.021px;
  text-transform: capitalize;

  display: flex;
  height: 36px;
  padding-right: 8px;
  justify-content: center;
  align-items: center;
  gap: 49px;

  background: transparent;
  border-radius: 6px;
  border: 0.5px solid rgba(255, 255, 255, 0.3);

  &:focus {
    outline: none;
  }

  &::after {
    content: url('../../../public/img/down.svg');
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 8px; // Отступ слева от текста до иконки
    // background-image: url('../../../public/img/down.svg'); // Путь к иконке
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle; // Выравнивание по центру относительно текста
  }

  &.active::after {
    // Стили для иконки при активном (открытом) состоянии
    content: url('../../../public/img/up.svg');
  }
}

.dropdownList {
  position: absolute;
  z-index: 1;
  margin: 0;
  overflow: hidden;
  display: flex;
  width: 132px;
  padding: 8px 0px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  background: #1f1f1f;
  top: 125%;
  /* bottom: -129px; */
  left: 42%;
}

.dropdownItem {
  // padding: 12px 16px;
  cursor: pointer;
  list-style-type: none;
  // background-color: #f9f9f9;
  transition: background-color 0.2s;

  display: flex;
  height: 32px;
  padding-left: 12px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: transparent;

  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.021px;
  text-transform: capitalize;

  // &:hover {
  //   background-color: #f1f1f1;
  // }
}

.dropdownSort {
  position: relative;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.021px;
  text-transform: capitalize;

  &::before {
    content: '';
    display: inline-block;
    width: 22.001px;
    height: 20px;
    margin-right: 8px;
    background-image: url('../../../public/img/updown.svg');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
  }
}
