.figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

figcaption {
  width: 100%;
}

.detailBlock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  .key {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #fff;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.024px;
    text-transform: capitalize;
  }

  .value {
    padding: 8px 0;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.024px;
    text-transform: capitalize;
    max-width: 520px;
    max-height: 200px;
    overflow: scroll;

    @media screen and (min-width: 1200px) {
      max-height: none;
    }
  }
  .add {
    align-items: flex-start;
  }
}

.mainImg {
  width: 284px;
  height: 358px;
  border-radius: 12px;

  @media screen and (max-width: 1279px) {
    clip: rect(0, 0, 0, 0);
    margin: -1px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    display: block;
    flex: none;
    margin-bottom: 20px;
  }
}
