@import '../../styles/vars.scss';

.sectionTitle {
  color: var(--1-W1, #fff);
  text-align: left;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.027px;
  text-transform: capitalize;
  padding: 24px;
  @media screen and (min-width: 1280px) {
    // margin-bottom: 40px;
  }
}

.sectionBox {
  border-bottom: 1px solid #393f45;
}

.sectionHolder {
  display: flex;
  height: 32px;
  padding: 0px 10px 0px 12px;
  align-items: center;
  gap: 10px;

  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.027px;
  text-transform: capitalize;
}

.sectionWrap {
  display: flex;
  align-items: center;
  // padding: 24px 0px 12px;
  padding: 24px 35px 12px;
  justify-content: center;
  // width: 1112px;

  @media screen and (min-width: 1200px) {
    gap: 700px;
  }
}

.sectionNumber {
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.027px;
  text-transform: capitalize;
  padding: 0px 10px 0px 12px;
}

// .sectionNumberHolder {
//   margin-left: 35px;
// }

.products {
  padding: 12px 32px;
  @media screen and (min-width: 720px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
  }
}

.productsItem {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 720px) {
    flex-basis: calc(100% / 2 - 10px * 2);
    margin: 12px;
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc(3.3333333333%);
  }

  &:not(:last-child) {
    @media screen and (max-width: 719px) {
      margin-bottom: 20px;
    }
  }
}

.holderLoader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 25px;
}
