@import '../../styles/vars.scss';

.card {
  display: flex;
  flex-direction: column;
  @include Animation(box-shadow);

  &:hover,
  &:focus {
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 8%);
    // box-shadow: 0px -12px 13px 0px rgba(0, 0, 0, 0.17) inset,
    //   0px -8px 25px 0px rgba(0, 0, 0, 0.15),
    //   0px -40px 20px 0px rgba(0, 0, 0, 0.1) inset,
    //   0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09),
    //   0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09);
  }
}

.cardImage {
  position: relative;
  // mix-blend-mode: darken;

  width: 190.4px;
  height: 240px;

  // background: lightgray 50% / cover no-repeat, #d9d9d9;
}

.cardImage img {
  border-radius: 15px;
}

.badge {
  z-index: 2;
  position: absolute;
  top: 8px;
  right: 16px;
  // padding: 4px;
}

.desc {
  color: var(--1-W1);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: capitalize;
}

.title {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-top: 8px;
  line-height: 24px; /* 171.429% */
  text-transform: capitalize;
  color: var(--1-W1);
  // color: var(--color-primary);
}

.descList {
  display: flex;
  justify-content: center;
  // gap: 10px;
  margin-bottom: 1rem;
  flex-direction: column;
}

.rating {
  color: var(--1-W1);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: capitalize;
  margin-top: 8px;
}
