@import 'styles/vars';

.product {
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    gap: 42px;
    padding: 40px 77px 0px 40px;
  }
}

.mainImg {
  width: 284px;
  height: 358px;
  border-radius: 12px;

  @media screen and (max-width: 1279px) {
    // position: absolute;
    clip: rect(0, 0, 0, 0);
    // width: 1px;
    // height: 1px;
    margin: -1px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    display: block; // Changed from flex to block
    flex: none; // Remove flex to allow natural image size
    margin-bottom: 20px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 22px 17px;
  border-bottom: 1px solid #393f45;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewsTable {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
}

.reviewsTable th {
  text-align: left;
  vertical-align: top;
  padding: 10px;
  font-weight: 600;
  color: #fff;
}

.reviewsTable td {
  padding: 10px 0px;

  @media screen and (min-width: 1200px) {
    padding-right: 34px;
  }
}

.review {
  margin-bottom: 10px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.024px;
  text-transform: capitalize;
  max-height: 150px;
  overflow: scroll;

  @media screen and (min-width: 1200px) {
    max-height: none;
  }
}

.reviewHeader {
  white-space: nowrap;
}

.reviewer {
  font-style: normal;
  display: block;
}

.separator {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

.detailBlock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  .key {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #fff;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.024px;
    text-transform: capitalize;
  }

  .add {
    align-items: flex-start;
  }

  .value {
    padding: 10px 0;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.024px;
    text-transform: capitalize;
    max-width: 520px;
    max-height: 200px;
    overflow: scroll;

    @media screen and (min-width: 1200px) {
      max-height: none;
    }
  }
}

.figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

figcaption {
  width: 100%;
}
