@import 'styles/vars';

.product {
  padding: 40px 77px 0px 40px;
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    gap: 42px;
  }
}

.mainImg {
  width: 284px;
  height: 358px;
  border-radius: 12px;

  @media screen and (max-width: 1279px) {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    flex: 5;
    justify-content: center;
  }
}

// .mainImg img {
//   max-height: 690px;
//   max-width: max-content;
//   object-fit: contain;
// }

.header {
  padding: 16px 0px 22px 17px;
  border-bottom: 1px solid #393f45;
}

.detailBlock {
  // padding: 10px 0;
  display: flex;
  align-items: flex-start;

  .key {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #fff;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.024px;
    text-transform: capitalize;
  }

  .value {
    color: #fff;
    // text-align: right;
    font-family: Inter;
    font-size: 16px;
    padding: 10px 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.024px;
    text-transform: capitalize;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px; /* Расстояние между отзывами */

  .key {
    color: #fff;
    // text-align: right;
    font-family: Inter;
    font-size: 16px;
    padding: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.024px;
    text-transform: capitalize;
  }

  .value {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    padding: 10px 0px 0px 0px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.024px;
    text-transform: capitalize;
  }

  blockquote {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.024px;
    text-transform: capitalize;
    border: none;
  }
}

.review {
  padding: 10px; /* Отступ для каждого отзыва */
  border: 1px solid #ccc; /* Если нужна рамка для отзыва */
  margin-bottom: 10px; /* Отступ снизу для отзыва */
}

.info {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
