@import 'styles/vars';

.product {
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    gap: 42px;
    padding: 40px 77px 0px 40px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
