.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detailBlock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  .key {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #fff;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.024px;
    text-transform: capitalize;
  }

  .value {
    // padding: 10px 0;
    padding: 8px 0;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.024px;
    text-transform: capitalize;
    max-width: 520px;
    max-height: 200px;
    overflow: scroll;

    @media screen and (min-width: 1200px) {
      max-height: none;
    }
  }
  .add {
    align-items: flex-start;
  }
}
